@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    background-image: url("images/beaches.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
  text-align: center;
  font-size: 30px;
}

.container {
    width: 600px;
    margin: 5em auto;
    padding: 50px;
    background-color: #F7EBEC;
    border-radius: 1em;
    color: #1B264F;
    text-align: center;

}
.aboutme{

  width: 600px;
  margin: 5em auto;
  padding: 50px;
  background-color: #F7EBEC;
  border-radius: 1em;
  color: #1B264F;
  background-size: contain;


}
.myresume{

  width: 600px;
  margin: 5em auto;
  padding: 50px;
  background-color: #F7EBEC;
  border-radius: 1em;
  color: #1B264F;
  background-size: contain;

}

.myart{
  width: 600px;
  margin: 5em auto;
  padding: 50px;
  background-color: #F7EBEC;
  border-radius: 1em;
  color: #1B264F;
  background-size: contain;
}

.timeline{
  width: 600px;
  margin: 5em auto;
  padding: 50px;
  background-color: #F7EBEC;
  border-radius: 1em;
  color: #1B264F;
  background-size: contain;
}

#myPhoto{
  width: 400px;
  height: auto;
  border: 5px;
  display: block;
   margin-left: auto;
   margin-right: auto;
}

a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}
@media (max-width: 700px) {
    body {
        background-color: #fff;
    }
    div {
        width: auto;
        margin: 0 auto;
        border-radius: 0;
        padding: 1em;
    }
  }
